/*------------------------------------*\
    COLORS	
\*------------------------------------*/
$gray1: #F2F2F2;
$gray2: #BFBFBF;
$gray3: #8C8C8C;
$gray4: #595959;
$gray5: #262626;
$offwhite: #fffef7;

/*------------------------------------*\
    GENERAL	
\*------------------------------------*/
.center {
	text-align: center;
}

.cap {
	text-transform: uppercase;
}

.vert-align {
	 position: relative;
  	top: 50%;
  	-webkit-transform: translateY(-50%);
  	-ms-transform: translateY(-50%);
  	transform: translateY(-50%);;
}

/*------------------------------------*\
    BODY	
\*------------------------------------*/

html,
body {
    height: 100%;
    width: 100%;
    font-family:'Garamond W01', serif;
    color: black;
    background: $offwhite;
}

/*------------------------------------*\
    CONTAINER	
\*------------------------------------*/
.container {
	width: 70%;
}

/*------------------------------------*\
    BUTTONS
\*------------------------------------*/
.btn {
	 padding: .4rem 1.5rem;
	 border-radius: 0;
}

.btn-blk {
	background: black;
	color: white;
}

.btn-clear {
	color: white;
	border: 1px solid white;
}

.btn-blk-clear {
	color: black;
	border: 1px solid black;
}

/*------------------------------------*\
    JUMBOTRONS	
\*------------------------------------*/
.jumbotron {
	color: white;
}

.jumbotron p {
	margin: 0;
	font-size: .8rem;
}

/*Home*/
#home-jumbotron {
	background: $gray5;
	height: 50vmin;
	background: url("../img/background/back-1.jpg");
	background-size: cover;
	background-position: center center;
}

#home-jumbotron .content h1 {
	 line-height: 3rem;
}

#home-jumbotron h3 {
	margin: 20px 0;
}

/*------------------------------------*\
    HOME PRODUCTS	
\*------------------------------------*/
#stretch .filler {
	margin-bottom: 100px;
}

#stretch .filler img {
	width: 100%;
	height: auto;
}

#stretch .title,
#stretch .arrows {
	margin-bottom: 50px;
}

#stretch .title p {
	max-width: 950px;
	margin: 0 auto;
}

#stretch .arrows a:first-child {
	margin-right: -5px;
}

.home-product-container  .product-content h4 {
	text-transform: uppercase;
	color: $gray4;
}

.home-product-container  .product-content p {
	color: $gray3;
	line-height: 1rem;
	font-size: .7rem;
}

.home-product-container img {
	width: 100%;
	height: auto;
}
