@media only screen and (max-width: 1200px) {
	/*------------------------------------*\
    	   CONTAINER	
	\*------------------------------------*/
	.container {
		width: 85%;
	}

	/*------------------------------------*\
    	   HOME PRODUCTS	
	\*------------------------------------*/

}

@media only screen and (max-width: 992px) {
	.container {
		width: 90%;
	}

	/*------------------------------------*\
    	   HOME PRODUCTS	
	\*------------------------------------*/
	#stretch .title, 
	#stretch .arrows {
		margin-bottom: 25px;
	}

	#stretch .filler {
		margin-bottom: 50px;
	}
}

@media only screen and (max-width: 768px) {
	#home-jumbotron {
		height: 80vmax;
	}

	#home-jumbotron .vert-align {
		top: 20%;
		-webkit-transform: translateY(-20%);
		-ms-transform: translateY(-20%);
		transform: translateY(-20%);
	}

	#home-jumbotron .content h1 {
		line-height: 1rem;
	}

	#home-jumbotron h3 {
		margin: 0;
		margin-bottom: 20px;
	}

	/*------------------------------------*\
    	   HOME PRODUCTS	
	\*------------------------------------*/
	#stretch .product-content {
		margin-bottom: 30px;
		text-align: center;
		margin-top: 10px;
	}

	/*#stretch .filler {
		position: absolute;
		left: 0;
		margin-bottom: 50px;
	}*/
}

@media only screen and (max-width: 480px) {}

@media only screen and (max-width: 320px) {}

@media (min-width: 768px) and (max-width: 991px) {}
