/*! Typebase.less v0.1.0 | MIT License */
/* Setup */
html {
  /* Change default typefaces here */
  font-family:'Garamond W01', serif;
  font-size: 137.5%;
  -webkit-font-smoothing: antialiased;
}
/* Copy & Lists */
p {
  line-height: 1.5rem;
  /*margin-top: 1.5rem;*/
  font-size: .8rem;
  margin-bottom: 0;
}
a {
  font-family:'TradeGothicW01-BoldCn20_675334', sans-serif;
}
ul,
ol {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}
ul li,
ol li {
  line-height: 1.5rem;
}
ul ul,
ol ul,
ul ol,
ol ol {
  margin-top: 0;
  margin-bottom: 0;
}
blockquote {
  line-height: 1.5rem;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}
/* Headings */
h1,
h2,
h3,
h4,
h5,
h6 {
  /* Change heading typefaces here */
  font-family:'TradeGothicW01-BoldCn20_675334', sans-serif;
  margin-top: 0;
  margin-bottom: 0;
  /*line-height: 1.5rem;*/
}
h1,
.jumbotron h1 {
  font-size: 5vmin;
  /*font-size: 4.242rem;*/
  /*line-height: 4.5rem;*/
  margin-top: 0;
}
h2 {
  font-size: 2.828rem;
  /*line-height: 3rem;*/
  margin-top: 0;
}
h3,
.jumbotron h3 {
  font-size: 3vmin;
  /*font-size: 1.414rem;*/
}
h4 {
  font-size: 0.707rem;
}
h5 {
  font-size: 0.4713333333333333rem;
}
h6 {
  font-size: 0.3535rem;
}
/* Tables */
table {
  margin-top: 1.5rem;
  border-spacing: 0px;
  border-collapse: collapse;
}
table td,
table th {
  padding: 0;
  line-height: 33px;
}
/* Code blocks */
code {
  vertical-align: bottom;
}
/* Leading paragraph text */
.lead {
  font-size: 1.414rem;
}
/* Hug a the block above you */
.hug {
  margin-top: 0;
}